<div class="jumbotron">
    <h2 class="h2-content">BD EDUCATIONAL INSTITUTE WAREHOUSE</h2>
    <p class="lead">This is an API for Educational Institution of Bangladesh.</p>

    @Html.ActionLink("Explore The API", "Index", "Help", new { area = "" }, new { @class = "btn btn-success btn-lg" })

</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">

            <h2>Instituitions</h2>
            <p class="card-text">
                View, Add, Delete and Update institute data.
            </p>
            <p>@Html.ActionLink("View", "Index", "ViewInstituitions", new { area = "" }, new { @class = "btn btn-info btn-sm" })</p>

        </div>
    </div>


    <div class="col-md-6">
        <div class="card">

            <h2>Instituite Addresses</h2>
            <p class="card-text">View, Add, Delete and Update institute Addresses.</p>
            <p>@Html.ActionLink("View", "Index", "ViewInstituitionsAddresses", new { area = "" }, new { @class = "btn btn-info btn-sm" })</p>

        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-6">
        <div class="card">

            <h2>Institute Statistics</h2>
            <p class="card-text">View, Add, Delete and Update Statistics of institutes.</p>
            <p>@Html.ActionLink("View", "Index", "ViewInstituteStatistics", new { area = "" }, new { @class = "btn btn-info btn-sm" })</p>

        </div>
    </div>

   
    <div class="col-md-6">
        <div class="card">

            <h2>Board Results</h2>
            <p class="card-text">View, Add, Delete and Update institute board results.</p>
            <p>@Html.ActionLink("View", "Index", "ViewBoardResults", new { area = "" }, new { @class = "btn btn-info btn-sm" })</p>

        </div>
    </div>

</div>

