@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/fontawesome.css">
    <link rel="stylesheet" href="~/Content/Site.css">

    <title>API DATA.BD</title>
</head>

<body>

    <header>

        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">API DATA.BD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        
                    </ul>
                    <form class="form-inline my-2 my-lg-0">

                        <a class="navbar-brand" href="@Url.Action("Contact","Home")">Contact Us</a>
                        
                    </form>
                </div>
            </nav>

        </div>
    </header>


    <div class="container-fluid m-0 p-0">

        <div class="jumbotron">
            <h2 class="h2-content">BD EDUCATIONAL INSTITUTE WAREHOUSE</h2>
            <p class="lead">This is an API for Educational Institution of Bangladesh.</p>

            @Html.ActionLink("Explore The API", "Index", "Help", new { area = "" }, new { @class = "btn btn-success btn-lg" })

        </div>

        <div class="container">
            <div class="container">

                <div class="row">

                    <div class="col-md-1">

                    </div>

                    <div class="col-md-5 mb-5">

                        <div class="card text-center" onclick="window.location.href = '@Url.Action("Index","ViewInstituitions")'">

                            <div class="card-img-top bg-dark py-4">
                                <i class="fas fa-school fa-3x" style="color:white;"></i>
                            </div>

                            <div class="card-body bg-secondary">                             

                                <h2 class="card-title">Instituitions</h2>
                                <p class="card-text">
                                    View, Add, Delete and Update institute data.
                                </p>

                            </div>


                        </div>

                    </div>


                    <div class="col-md-5 mb-5">
                        <div class="card text-center" onclick="window.location.href = '@Url.Action("Index","ViewInstituitionsAddresses")'">

                            <div class="card-img-top bg-dark py-4">
                                <i class="fas fa-map-marked-alt fa-3x" style="color:white;"></i>
                            </div>

                            <div class="card-body bg-secondary">

                                <h2 class="card-title">Instituite Addresses</h2>
                                <p class="card-text">View, Add, Delete and Update institute Addresses.</p>

                            </div>


                        </div>
                    </div>

                    <div class="col-md-1"></div>

                </div>


                <div class="row">

                    <div class="col-md-1"></div>

                    <div class="col-md-5 mb-5">
                        <div class="card text-center" onclick="window.location.href = '@Url.Action("Index","ViewInstituteStatistics")'">

                            <div class="card-img-top bg-dark py-4">
                                <i class="fas fa-chart-area fa-3x" style="color:white;"></i>
                            </div>

                            <div class="card-body bg-secondary">

                                <h2 class="card-title">Institute Statistics</h2>
                                <p class="card-text">View, Add, Delete and Update Statistics of institutes.</p>


                            </div>

                        </div>
                    </div>


                    <div class="col-md-5 mb-5">
                        <div class="card text-center" onclick="window.location.href = '@Url.Action("Index","ViewBoardResults")'">

                            <div class="card-img-top bg-dark py-4">
                                <i class="fas fa-graduation-cap fa-3x" style="color:white;"></i>
                            </div>

                            <div class="card-body bg-secondary">

                                <h2 class="card-title">Board Results</h2>
                                <p class="card-text">View, Add, Delete and Update institute board results.</p>


                            </div>

                        </div>
                    </div>

                    <div class="col-md-1"></div>

                </div>
            </div>

        </div>

       
        <div class="container">
            <footer class="mt-5">
               <div class="container">
                   <div class="row">

                       <div class="col-md-6">
                           <h3 class="mt-5">
                               About Us
                           </h3>
                           <p>
                               Drubojit Saha<br />
                               Emdadul Haque<br />
                               Mohammad Rakib - Uz - Zaman
                           </p>
                       </div>

                       <div class="col-md-6">
                           <div class="my-5">
                               <a href="@Url.Action("Contact","Home")">Contact Us</a>
                           </div>
                       </div>

                   </div>
               </div>
            </footer>
        </div>

    </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>