<div class="jumbotron">
    <h2 class="h2-content">BD EDUCATIONAL INSTITUTE WAREHOUSE</h2>
    <p class="lead">This is an API for Educational Institution of Bangladesh.</p>

    @Html.ActionLink("Explore The API", "Index", "Help", new { area = "" }, new { @class = "btn btn-success btn-lg" })

</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
       
            <div class="card" onclick="window.location.href = '@Url.Action("Index","ViewInstituitions")'">

                <h2 class="card-header">Instituitions</h2>
                <p class="card-text">
                    View, Add, Delete and Update institute data. 
                </p>
               

            </div>
      
    </div>


    <div class="col-md-4">
        <div class="card" onclick="window.location.href = '@Url.Action("Index","ViewInstituitionsAddresses")'">

            <h2 class="card-header">Instituite Addresses</h2>
            <p class="card-text">View, Add, Delete and Update institute Addresses.</p>
            

        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-4 col-md-offset-2">
        <div class="card"  onclick="window.location.href = '@Url.Action("Index","ViewInstituteStatistics")'">

            <h2 class="card-header">Institute Statistics</h2>
            <p class="card-text">View, Add, Delete and Update Statistics of institutes.</p>
           

        </div>
    </div>

   
    <div class="col-md-4">
        <div class="card"  onclick="window.location.href = '@Url.Action("Index","ViewBoardResults")'">

            <h2 class="card-header">Board Results</h2>
            <p class="card-text">View, Add, Delete and Update institute board results.</p>
          

        </div>
    </div>

</div>

