@using System.Web.Http
@using System.Web.Http.Description
@using api_data_bd.Areas.HelpPage.Models
@using api_data_bd.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<style>
    .font-title {
        font-weight: 900;
        font-size: 6.5vh;
    }
</style>
<h1 class="text-white text-center mb-5  font-title">
    Basic Info
</h1>
<h3 class="text-white mt-5">Http Method </h3>
@description.HttpMethod.Method

<h3 class="text-white mt-5">URI </h3>
@description.RelativePath


<div class="mt-5">
    <p>@description.Documentation</p>

    <h1 class="text-white  text-center mb-5 font-title">Request Information</h1>

    <h3 class="text-white">URI Parameters</h3>

    @Html.DisplayFor(m => m.UriParameters, "Parameters")

    <h3 class="text-white">Body Parameters</h3>

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null)
    {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h1 class="text-white  text-center mb-5  font-title">Request Formats</h1>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h1 class="text-white  text-center my-5  font-title">Response Information</h1>

    <h3 class="text-white">Resource Description</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3 class="text-white mt-5">Response Formats</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }
    <h1 class="text-white text-center my-5  font-title">
        --Thank you--
    </h1>
</div>