@model api_data_bd.Models.Instituitions

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var db = api_data_bd.Utiles.Static.AppDatabase.getInstence().getDatabase();
}


@section content_wrapper {
    <div class="container my-5 text-center">
        <h1 style="line-height: 1em;  font-weight: 900">Add New Instituition Informations</h1>
    </div>
    <div class="container-fluid">

        <div class="container bg-dark p-1 pb-4 shadow rounded mb-3 " data-aos="fade-in">
           
            <div class="container p-0 m-0">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                <div class="container">
                    <div class="btn btn-outline-primary mt-3 text-white-50 ml-3 mt-4">
                        <i class="fas fa-fw fa-arrow-left"></i>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "text-white-50" })
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionName, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.InstituitionName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituitionName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionEstablishment, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.InstituitionEstablishment, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituitionEstablishment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionType, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.InstituitionType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituitionType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionEiin, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.InstituitionEiin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituitionEiin, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionPhoneNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.InstituitionPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituitionPhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionManagementType, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.InstituitionManagementType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituitionManagementType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionEducationLevel, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.InstituitionEducationLevel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituitionEducationLevel, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InstituitionAddressId, "InstituitionAddressId", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("InstituitionAddressId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InstituitionAddressId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center mt-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary px-4">
                                Create New Item
                            </button>
                        </div>
                    </div>

                </div>
                }
            </div>


        </div>
    </div>
}
@section Scripts {
}
